.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../img/galleries-background.jpg');
  background-repeat: repeat;
  background-size: cover;
}
