.galleries-page {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: url('../../img/galleries-background.jpg');
  background-repeat: repeat;
  background-size: cover;
}

@media only screen and (max-width: 576px) {

  .galleries-page {
    background-size: contain;
  }
}
