/* .see-favorites-button-landing {
  text-align: center;
  background-color: rgba(212, 175, 55, .75);
  color: black;
  padding: .5% 10% .5% 10%;
  text-decoration: none;
  border-radius: 6px;
  width: 20vw;
  margin: 1%;
  font-weight: 600;
}

@media only screen and (max-width: 576px) {
  .see-favorites-button {
    width: 78vw;
    font-weight: 600;
    padding: 2% 19% 2% 19%;
  }
} */

